In [1]:
import pandas as pd

In [80]:
tablename='customer' 
query='select * from ', tablename
query

('select * from ', 'customer')

In [7]:
df_customers =pd.read_csv('F:/Education/2026/Guvi/Project/BankSight/Docs/customers.csv')
df_accounts =pd.read_csv('F:/Education/2026/Guvi/Project/BankSight/Docs/accounts.csv')
df_transactions =pd.read_csv('F:/Education/2026/Guvi/Project/BankSight/Docs/transactions.csv')
df_loans =pd.read_csv('F:/Education/2026/Guvi/Project/BankSight/Docs/loans.csv')
df_credit_cards =pd.read_json('F:/Education/2026/Guvi/Project/BankSight/Docs/credit_cards.json')
df_branches =pd.read_csv('F:/Education/2026/Guvi/Project/BankSight/Docs/branches.csv')
df_support_tickets =pd.read_csv('F:/Education/2026/Guvi/Project/BankSight/Docs/support_tickets.csv')

#df_customers.info()

In [8]:
df_customers.isnull().sum()

customer_id     0
name            0
gender          0
age             0
city            0
account_type    0
join_date       0
dtype: int64

In [4]:
df_accounts.isnull().sum()

customer_id        0
account_balance    0
last_updated       0
dtype: int64

In [9]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rajaram25*"
)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS banksight")
print("✅ Database created or already exists.")
cursor.execute("USE banksight")

✅ Database created or already exists.

In [7]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    customer_id VARCHAR(50) PRIMARY KEY,
    name VARCHAR(50),
    gender CHAR(1),
    age INT,
    city VARCHAR(50),
    account_type VARCHAR(20),
    join_date DATE
)
""")
conn.commit()
print("✅ customers table created successfully.")

✅ customers table created successfully.

In [15]:

cursor.execute("""
CREATE TABLE IF NOT EXISTS accounts (
     customer_id     VARCHAR(50) ,
     account_balance     float,
     last_updated    datetime    
  )

""")
conn.commit()
print("✅ accounts table created successfully.")

✅ accounts table created successfully.

In [36]:

cursor.execute("""
CREATE TABLE IF NOT EXISTS transactions (
   txn_id    VARCHAR(50)  PRIMARY KEY,
    customer_id    VARCHAR(50),
    txn_type   VARCHAR(50),
    amount   float,
    txn_time   datetime,
    status   VARCHAR(50)
    
)""")
conn.commit()
print("✅ transactions table created successfully.")

✅ transactions table created successfully.

In [10]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS loans (
     Loan_ID      int primary key ,
     customer_id int ,
     Account_ID     int,
     Branch VARCHAR(50),
     Loan_Type  VARCHAR(50),
     Loan_Amount int,
     Interest_Rate float,
     Loan_Term_Months  int ,
     Start_Date  date,
     End_Date  date,
     Loan_Status  VARCHAR(50)
  )
""")
conn.commit()
print("✅ loans table created successfully.")

✅ loans table created successfully.

In [11]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS credit_cards (
     Card_ID     int primary key ,
    customer_id VARCHAR(50) ,
     Account_ID     int,
     Branch VARCHAR(50),
     Card_Number VARCHAR(50),
     Card_Type VARCHAR(50),
     Card_Network VARCHAR(50),
     Credit_Limit int ,
     Current_Balance float,
     Issued_Date date,
     Expiry_Date date,
     Status VARCHAR(50)
  ) """)
conn.commit()
print("✅ credit_cards table created successfully.")

✅ credit_cards table created successfully.

In [ ]:
Branch_ID,Branch_Name,City,Manager_Name,Total_Employees,Branch_Revenue,Opening_Date,Performance_Rating
1,"Wang, Mcdonald and Church Branch",Kellitown,Kevin Jones,141,16849288.09,2008-08-01,2

In [12]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS branches (
    Branch_ID   int  PRIMARY KEY,
    Branch_Name   VARCHAR(50),
    City  VARCHAR(50),
    Manager_Name  VARCHAR(50),
    Total_Employees  int,
    Branch_Revenue  float,
    Opening_Date  DATE,
    Performance_Rating int 
    
)""")
conn.commit()
print("✅ branches table created successfully.")

✅ branches table created successfully.

In [ ]:


cursor.execute("""   
CREATE TABLE IF NOT EXISTS support_tickets (
     Ticket_ID        VARCHAR(50) primary key ,
     Customer_ID  VARCHAR(50),
     Account_ID      VARCHAR(50),
     Loan_ID  VARCHAR(50),
     Branch_Name   VARCHAR(50),
     Issue_Category  VARCHAR(50),
     Description  VARCHAR(50),
     Date_Opened   date ,
     Date_Closed   date,
     Priority  VARCHAR(50),
     Status   VARCHAR(50),
     Resolution_Remarks  VARCHAR(50),
     Support_Agent   VARCHAR(50),
     Channel    VARCHAR(50),
     Customer_Rating  int    
     
  )""")
conn.commit()
print("✅ branches table created successfully.")

✅ branches table created successfully.

In [ ]:
for _, row in df_customers.iterrows():
    cursor.execute("""
        INSERT INTO customers (customer_id, name, gender, age, city, account_type, join_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """, (row['customer_id'], row['name'], row['gender'], row['age'], row['city'], row['account_type'], row['join_date']))

conn.commit()
print("✅ Customers table values inserted successfully.")

In [14]:
df_accounts

    customer_id  account_balance         last_updated
0         C0001        293729.87  2025-05-24 09:46:29
1         C0002        150735.15  2025-05-24 09:46:29
2         C0003        170156.21  2025-05-24 09:46:29
3         C0004        311383.96  2025-05-24 09:46:29
4         C0005         60320.75  2025-05-24 09:46:29
..          ...              ...                  ...
495       C0496        149135.80  2025-05-24 09:46:29
496       C0497        376153.36  2025-05-24 09:46:29
497       C0498        320254.17  2025-05-24 09:46:29
498       C0499        484758.19  2025-05-24 09:46:29
499       C0500        454127.94  2025-05-24 09:46:29

[500 rows x 3 columns]

In [ ]:
for _, row in df_accounts.iterrows():
    cursor.execute(""" INSERT INTO accounts (customer_id, account_balance, last_updated) VALUES (%s, %s, %s)
    """, (row['customer_id'], row['account_balance'], row['last_updated']))
print("✅ accounts table values inserted successfully.")
conn.commit()

✅ Accounts table values inserted successfully.

In [33]:
df_transactions.columns

Index(['txn_id', 'customer_id', 'txn_type', 'amount', 'txn_time', 'status'], dtype='object')

In [38]:
for _, row in df_transactions.iterrows():
    cursor.execute(""" INSERT INTO transactions (txn_id, customer_id, txn_type,amount,txn_time,status) VALUES 
    (%s, %s, %s,%s, %s, %s)""", (row['txn_id'], row['customer_id'], row['txn_type'],row['amount'], row['txn_time'], row['status']))
print("✅ transactions table values inserted successfully.")
conn.commit()

✅ transactions table values inserted successfully.

In [42]:
for _, row in df_loans.iterrows():
    cursor.execute(""" INSERT INTO loans (Loan_ID, Customer_ID, Account_ID,Branch,Loan_Type,Loan_Amount,Interest_Rate,Loan_Term_Months,Start_Date,End_Date,Loan_Status) VALUES 
    (%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s)""", (row['Loan_ID'], row['Customer_ID'], row['Account_ID'],row['Branch'], row['Loan_Type'], row['Loan_Amount'],
    row['Interest_Rate'], row['Loan_Term_Months'], row['Start_Date'],row['End_Date'], row['Loan_Status']))
print("✅ loans table values inserted successfully.")
conn.commit()

✅ loans table values inserted successfully.

In [45]:
for _, row in df_credit_cards.iterrows():
    cursor.execute(""" INSERT INTO credit_cards (Card_ID, Customer_ID, Account_ID,Branch,Card_Number,Card_Type,Card_Network,
                   Credit_Limit,Current_Balance,Issued_Date,Expiry_Date,Status) VALUES 
    (%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s)""", (row['Card_ID'], row['Customer_ID'], row['Account_ID'],row['Branch'],
    row['Card_Number'], row['Card_Type'], row['Card_Network'],row['Credit_Limit'], row['Current_Balance'],
    row['Issued_Date'],row['Expiry_Date'], row['Status']))
print("✅ credit_cards table values inserted successfully.")
conn.commit()

✅ credit_cards table values inserted successfully.

In [48]:
for _, row in df_branches.iterrows():
    cursor.execute(""" INSERT INTO branches (Branch_ID, Branch_Name, City,Manager_Name,Total_Employees,Branch_Revenue,Opening_Date) 
    VALUES (%s, %s, %s,%s, %s, %s,%s)""", (row['Branch_ID'], row['Branch_Name'], row['City'],row['Manager_Name'],
    row['Total_Employees'], row['Branch_Revenue'], row['Opening_Date']))
print("✅ Branches table values inserted successfully.")
conn.commit()

✅ Branches table values inserted successfully.

In [49]:
df_support_tickets.columns

Index(['Ticket_ID', 'Customer_ID', 'Account_ID', 'Loan_ID', 'Branch_Name',
       'Issue_Category', 'Description', 'Date_Opened', 'Date_Closed',
       'Priority', 'Status', 'Resolution_Remarks', 'Support_Agent', 'Channel',
       'Customer_Rating'],
      dtype='object')

In [64]:

import numpy as np

df_support_tickets = df_support_tickets.replace({np.nan: None})
df_support_tickets

,Ticket_ID,Customer_ID,Account_ID,Loan_ID,Branch_Name,Issue_Category,Description,Date_Opened,Date_Closed,Priority,Status,Resolution_Remarks,Support_Agent,Channel,Customer_Rating
0,T00001,C0478,A1825,None,Gonzalez-Martin Branch,Loan Payment Delay,Client raised loan payment delay.,2017-09-30,2017-10-24,Low,Closed,Card replaced and activated.,Leena Apte,Email,1
1,T00002,C0443,A3583,None,Baldwin and Sons Branch,Loan Foreclosure,Client raised loan foreclosure.,2015-04-19,2015-05-12,Critical,In Progress,Card replaced and activated.,Owen Mahajan,In-person,1
2,T00003,C0057,A2616,442.0,"Porter, Osborne and Mendez Branch",Interest Rate Dispute,Customer reported interest rate dispute.,2016-09-28,2016-10-23,High,Resolved,Loan schedule updated.,Wishi Chhabra,Email,4
3,T00004,C0301,A8786,None,"Stafford, Oneal and Williams Branch",Mismatch in Account Statement,Client raised mismatch in account statement.,2019-03-31,2019-04-10,High,Closed,Pending customer verification.,Gabriel Mutti,Email,1
4,T00005,C0238,A3734,None,Evans-Mercado Branch,KYC Update Required,System detected kyc update required.,2017-08-11,None,Critical,Resolved,Pending customer verification.,Ekani Oza,In-person,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,T00596,C0303,A9594,None,Johnson Group Branch,Account Frozen,Customer reported account frozen.,2015-03-08,2015-03-30,Medium,Escalated,Issue resolved successfully.,Chaitaly Vaidya,Mobile App,3
596,T00597,C0480,A5144,None,Clark Inc Branch,Interest Rate Dispute,Customer reported interest rate dispute.,2020-01-17,2020-01-26,Medium,In Progress,Issue resolved successfully.,Ekapad Jhaveri,In-person,1
597,T00598,C0270,A7108,427.0,Murphy-Johnston Branch,Interest Rate Dispute,Client raised interest rate dispute.,2016-04-22,2016-05-13,Critical,Resolved,Loan schedule updated.,Advik Bhagat,In-person,4
598,T00599,C0144,A4959,121.0,"Herrera, Rollins and Hill Branch",Card Not Working,Customer reported card not working.,2015-02-26,2015-03-25,Low,In Progress,Card replaced and activated.,Wriddhish Sarraf,Phone,2
599,T00600,C0076,A7140,24.0,Peterson-Graves Branch,EMI Auto-debit Failed,Customer reported emi auto-debit failed.,2023-08-19,2023-09-04,Critical,Escalated,Card replaced and activated.,Ria Ghose,Mobile App,5

In [ ]:
for _, row in df_support_tickets.iterrows():
    cursor.execute(""" INSERT INTO support_tickets (Ticket_ID, Customer_ID, Account_ID, Loan_ID, Branch_Name,
       Issue_Category, Description, Date_Opened, Date_Closed,
       Priority, Status, Resolution_Remarks, Support_Agent, Channel,
       Customer_Rating) 
    VALUES (%s, %s, %s,%s, %s, %s, %s, %s,%s, %s,%s, %s, %s,%s, %s)""", (
    row['Ticket_ID'], row['Customer_ID'], row['Account_ID'],row['Loan_ID'],row['Branch_Name'], row['Issue_Category'], 
    row['Description'], row['Date_Opened'], row['Date_Closed'],row['Priority'],row['Status'], row['Resolution_Remarks'], 
    row['Support_Agent'], row['Channel'], row['Customer_Rating'] ))
print("✅ Support_tickets table values inserted successfully.")
conn.commit()

✅ Support_tickets table values inserted successfully.

In [10]:
#How many customers exist per city, and what is their average account balance?
cursor.fetchall()
selectQuery=""" SELECT c.city,count(c.name), avg(a.account_balance) FROM banksight.customers c
join banksight.accounts a on a.customer_id=c.customer_id
group by c.city 
order by c.city """
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('Adamtown', 1, 45424.109375)
('Alanton', 1, 392508.78125)
('Albertchester', 1, 387844.65625)
('Alexanderstad', 1, 383016.75)
('Alexfurt', 1, 403292.1875)
('Allisonville', 1, 390939.5)
('Amandaberg', 1, 476044.53125)
('Amandabury', 1, 456395.40625)
('Andersonburgh', 1, 284738.5625)
('Angelaburgh', 1, 427514.03125)
('Angelatown', 1, 200877.296875)
('Annaview', 1, 245645.8125)
('Anneville', 1, 211699.046875)
('Antonioborough', 1, 206241.859375)
('Ashleychester', 1, 262278.5)
('Ashleyport', 1, 245870.359375)
('Ashleyside', 1, 316096.8125)
('Ballardburgh', 1, 7639.93017578125)
('Banksside', 1, 183200.640625)
('Barbermouth', 1, 46322.21875)
('Bellport', 1, 453760.71875)
('Berryberg', 1, 441088.53125)
('Blakefort', 1, 417005.9375)
('Bobbyhaven', 1, 482746.375)
('Brandonstad', 1, 423341.84375)
('Brendachester', 1, 150338.078125)
('Brettport', 1, 368131.1875)
('Brettstad', 1, 434657.28125)
('Bridgetmouth', 1, 344998.0)
('Brookefurt', 1, 386398.5625)
('Brownburgh', 1, 338491.34375)
('Brownview', 2, 374200.5625)
('Bryanmouth', 1, 119157.4921875)
('Bryanthaven', 1, 90428.1796875)
('Bryantport', 1, 477357.0)
('Chavezborough', 1, 327967.65625)
('Chenstad', 1, 430295.6875)
('Christinamouth', 1, 309733.53125)
('Christopherburgh', 1, 457105.375)
('Christopherfurt', 1, 296243.71875)
('Christopherport', 1, 407476.0)
('Christopherstad', 1, 192212.84375)
('Clarkburgh', 1, 252699.828125)
('Clarkchester', 1, 229510.484375)
('Clarkeview', 1, 174478.90625)
('Colemanside', 1, 231148.265625)
('Conniehaven', 1, 428046.75)
('Connorview', 1, 96916.65625)
('Cookview', 1, 457722.125)
('Daltonshire', 1, 121237.6484375)
('Danaburgh', 1, 378621.40625)
('Danielmouth', 1, 463830.96875)
('Darlenefurt', 1, 394979.0625)
('Darrenmouth', 1, 432025.96875)
('Davidmouth', 1, 172966.6875)
('Davisborough', 1, 331660.21875)
('Deanstad', 1, 310110.46875)
('Deborahton', 1, 312048.125)
('Debraport', 1, 171161.953125)
('Dianemouth', 1, 384430.34375)
('Donaldhaven', 1, 171354.125)
('Donaldstad', 1, 192732.921875)
('Dorisshire', 1, 403952.9375)
('Douglasland', 1, 428502.40625)
('Douglasstad', 1, 70614.3984375)
('Dustinstad', 1, 259207.953125)
('East Aaronside', 1, 181962.296875)
('East Adrienne', 1, 45190.421875)
('East Andrew', 1, 48597.4296875)
('East April', 1, 382353.65625)
('East Brianna', 1, 120793.546875)
('East Christine', 1, 218110.6875)
('East Corey', 1, 75911.859375)
('East Davidberg', 1, 37616.75)
('East Deanstad', 1, 400751.6875)
('East Diana', 1, 315339.78125)
('East Elizabeth', 1, 134031.0625)
('East Elizabethchester', 1, 62583.8203125)
('East Elizabethville', 1, 281254.875)
('East Gregory', 1, 227032.734375)
('East Jamesview', 1, 292902.25)
('East Jennifer', 1, 297078.3125)
('East Jenniferburgh', 1, 466370.15625)
('East Jillland', 1, 260052.65625)
('East Kimberlyside', 1, 67463.7109375)
('East Lindsaychester', 1, 254377.75)
('East Lisabury', 1, 11537.48046875)
('East Mary', 1, 348086.125)
('East Monica', 1, 369174.625)
('East Nicholasport', 1, 49009.01953125)
('East Nicholemouth', 1, 392024.5)
('East Paigebury', 1, 140162.796875)
('East Rachaelstad', 1, 420145.6875)
('East Richard', 1, 312118.71875)
('East Robin', 1, 494699.90625)
('East Sarah', 1, 385637.40625)
('East Sergioborough', 1, 158290.90625)
('East Victoriaside', 1, 382344.40625)
('Edwardborough', 1, 437953.96875)
('Edwardsville', 1, 8111.75)
('Elizabethstad', 1, 309282.0625)
('Emilymouth', 1, 90366.09375)
('Fergusonborough', 1, 17192.640625)
('Fergusonview', 1, 175297.125)
('Fischerfort', 1, 36812.08984375)
('Flynnville', 1, 294020.40625)
('Frankberg', 1, 237914.84375)
('Garrettburgh', 1, 364428.4375)
('Garrettchester', 1, 386504.40625)
('Garyside', 1, 210817.75)
('Georgeshire', 1, 42554.46875)
('Glennberg', 1, 460904.5)
('Gordonmouth', 1, 125221.21875)
('Grantville', 1, 451228.21875)
('Gregoryborough', 1, 85673.6796875)
('Grimesborough', 1, 459185.59375)
('Gutierrezfurt', 1, 442976.90625)
('Hallstad', 1, 328217.3125)
('Hammondton', 1, 224895.5)
('Harpermouth', 1, 259210.953125)
('Heatherland', 1, 420277.71875)
('Heathermouth', 1, 394378.75)
('Heatherport', 1, 173260.953125)
('Hernandezshire', 1, 256045.375)
('Herrerachester', 1, 24668.169921875)
('Herreraland', 1, 274627.59375)
('Hollandville', 1, 306393.5)
('Hollyborough', 1, 131151.234375)
('Hudsonfurt', 1, 354677.875)
('Huffberg', 1, 321881.6875)
('Hunterfurt', 1, 301764.75)
('Jacksonside', 1, 289287.65625)
('Jacobmouth', 1, 465909.8125)
('Jenniferborough', 1, 457073.5625)
('Jenningsborough', 1, 407147.59375)
('Jessicamouth', 3, 312313.0416666667)
('Jillhaven', 1, 46917.609375)
('Jimmyton', 1, 158181.375)
('Johnland', 1, 324125.3125)
('Johnmouth', 1, 494779.96875)
('Johnsonborough', 1, 350926.6875)
('Johnsonfort', 1, 32105.080078125)
('Johnsonmouth', 1, 90531.703125)
('Johnstad', 2, 106600.0)
('Jonesland', 2, 281788.734375)
('Joshuaborough', 1, 241078.84375)
('Joshuatown', 1, 216193.703125)
('Juliabury', 1, 195238.640625)
('Juliaview', 1, 2647.409912109375)
('Julieport', 1, 362616.84375)
('Justinborough', 1, 400322.59375)
('Kaisermouth', 1, 200100.0)
('Karenport', 1, 25660.08984375)
('Katherineburgh', 1, 277356.28125)
('Kaylaton', 1, 230194.59375)
('Kellitown', 1, 83448.171875)
('Kennethberg', 1, 13507.1904296875)
('Kennethborough', 1, 59961.5390625)
('Kennethview', 1, 230545.9375)
('Kimberlychester', 1, 70884.8515625)
('Kimberlyfort', 2, 405370.203125)
('Kimstad', 1, 441140.875)
('Kingview', 1, 148767.625)
('Kingville', 1, 418555.15625)
('Kirkside', 1, 328074.84375)
('Kristiville', 1, 352691.625)
('Lake Amandatown', 1, 140145.453125)
('Lake Anthony', 1, 162877.0)
('Lake Antonioton', 1, 154227.625)
('Lake Barbarashire', 1, 31993.720703125)
('Lake Charles', 1, 10322.76953125)
('Lake Codyport', 1, 60360.9609375)
('Lake Danaville', 1, 363493.09375)
('Lake Gabrielaside', 1, 150975.65625)
('Lake Jordan', 1, 296372.15625)
('Lake Joseborough', 1, 108675.2265625)
('Lake Josebury', 1, 467327.125)
('Lake Kathleenburgh', 1, 332405.8125)
('Lake Kathryn', 1, 436672.375)
('Lake Kyleborough', 1, 186619.546875)
('Lake Laurie', 1, 145545.265625)
('Lake Louisside', 1, 192721.03125)
('Lake Michael', 2, 174309.6328125)
('Lake Michellechester', 1, 431769.4375)
('Lake Normafort', 1, 388562.0625)
('Lake Richardmouth', 1, 334704.71875)
('Lake Sean', 2, 355985.234375)
('Lake Shannonchester', 1, 13773.9404296875)
('Lake Tanya', 1, 140728.40625)
('Lake Thomaston', 1, 173905.078125)
('Lake Tonya', 1, 94371.53125)
('Lake Wesley', 1, 251101.125)
('Leburgh', 1, 342017.5)
('Lewishaven', 1, 345065.75)
('Littleburgh', 1, 124941.671875)
('Margaretburgh', 1, 118509.3984375)
('Margaretchester', 1, 498739.5)
('Markchester', 1, 189603.453125)
('Martinchester', 1, 390725.375)
('Martinezmouth', 1, 311196.03125)
('Matthewtown', 1, 384648.40625)
('Matthewville', 1, 433112.59375)
('Mccormickfurt', 1, 353745.84375)
('Meganborough', 1, 128521.4296875)
('Meghanville', 1, 385756.25)
('Mendozaview', 1, 104769.1796875)
('Michaelchester', 1, 86315.4296875)
('Micheleland', 2, 305337.7734375)
('Micheleton', 1, 173194.3125)
('Michellefort', 1, 450804.9375)
('Millermouth', 1, 40880.46875)
('Millerstad', 1, 484758.1875)
('Millerton', 1, 47543.16015625)
('Moyerburgh', 1, 192899.265625)
('Mullenland', 1, 149135.796875)
('Murillobury', 1, 125374.15625)
('Murraytown', 1, 296041.875)
('Nataliemouth', 1, 320254.15625)
('Nathanielport', 1, 41828.87890625)
('Nathanville', 1, 169887.84375)
('New Alexandermouth', 1, 437255.03125)
('New Amy', 1, 155836.171875)
('New Angelaburgh', 1, 92963.359375)
('New Ashley', 1, 415709.34375)
('New Christina', 1, 158424.28125)
('New Crystalborough', 1, 267754.0)
('New Davidshire', 1, 77082.8671875)
('New Erika', 1, 62556.1796875)
('New Gregory', 1, 402963.0)
('New Jackson', 1, 464290.96875)
('New Jayfort', 1, 466807.8125)
('New Jennifer', 1, 55340.48046875)
('New Jennifertown', 1, 19923.8203125)
('New Jesseberg', 1, 411420.03125)
('New Jillian', 1, 182899.296875)
('New Josephtown', 1, 390813.09375)
('New Joshua', 1, 268800.75)
('New Kimberlyshire', 1, 127822.296875)
('New Kyle', 1, 221913.5625)
('New Kyleberg', 1, 297398.15625)
('New Leslie', 1, 344182.625)
('New Lindatown', 1, 132394.296875)
('New Mary', 1, 271880.34375)
('New Matthewtown', 1, 341916.28125)
('New Michaelfurt', 1, 36798.05078125)
('New Michealtown', 1, 107647.6484375)
('New Noah', 1, 374537.21875)
('New Oscarshire', 1, 328197.15625)
('New Rachel', 1, 47482.21875)
('New Richard', 1, 317298.34375)
('New Richardbury', 1, 8432.9501953125)
('New Robertburgh', 1, 158825.546875)
('New Rodney', 1, 87361.1328125)
('New Stevefort', 1, 298158.25)
('New Steveville', 1, 24835.220703125)
('New Tammy', 1, 419919.4375)
('Nguyenmouth', 1, 120550.8515625)
('Nicholasburgh', 1, 193295.484375)
('Nicholsonstad', 1, 71462.7421875)
('Nicoleside', 1, 337417.375)
('North Aaronshire', 1, 27767.41015625)
('North Adam', 1, 290608.0)
('North Christinaton', 1, 479706.40625)
('North Dalefort', 1, 1862.6600341796875)
('North Daniellestad', 1, 417100.40625)
('North Debrahaven', 1, 30010.240234375)
('North Dustinchester', 1, 390868.90625)
('North James', 2, 390598.515625)
('North Jennifer', 1, 260045.875)
('North Jeremy', 1, 350957.25)
('North Julie', 1, 379269.28125)
('North Kennethbury', 1, 192239.125)
('North Kevinfurt', 1, 129599.8203125)
('North Lisa', 1, 284105.46875)
('North Lisaland', 1, 55238.78125)
('North Manuel', 1, 73729.59375)
('North Michaelport', 1, 327168.28125)
('North Nancymouth', 1, 245514.984375)
('North Nicholasview', 1, 339256.1875)
('North Paul', 1, 243479.78125)
('North Shannon', 1, 314962.96875)
('North Stephanie', 1, 70103.5703125)
('North Teresa', 1, 294219.125)
('North Traci', 1, 326555.90625)
('North Wayne', 1, 6438.419921875)
('Nunezbury', 1, 46778.21875)
('Onealview', 1, 251036.453125)
('Orozcoshire', 1, 137152.515625)
('Owensborough', 1, 9870.8896484375)
('Pagefort', 1, 21705.619140625)
('Pattonfort', 1, 264608.0625)
('Pearsonhaven', 1, 369619.90625)
('Perezbury', 1, 473506.625)
('Perkinsburgh', 1, 429083.5625)
('Petersonstad', 1, 461947.875)
('Phillipsbury', 1, 60868.51953125)
('Port Aaron', 1, 237995.59375)
('Port Amanda', 1, 100272.40625)
('Port Angela', 1, 302864.84375)
('Port Audreyview', 1, 175517.09375)
('Port Charlesport', 1, 314506.84375)
('Port Christopherview', 1, 302230.21875)
('Port Dakota', 1, 5128.16015625)
('Port David', 2, 239390.90563964844)
('Port Diane', 1, 452856.75)
('Port Gina', 1, 446110.03125)
('Port Gregory', 1, 107540.6484375)
('Port Heather', 1, 442041.25)
('Port Jennifermouth', 1, 76857.59375)
('Port Joseph', 1, 150039.171875)
('Port Kathleenview', 1, 161009.734375)
('Port Kathryn', 1, 9131.25)
('Port Kellystad', 1, 431204.59375)
('Port Kennethmouth', 1, 325029.4375)
('Port Kimberly', 1, 303686.40625)
('Port Larrytown', 1, 69735.9921875)
('Port Linda', 1, 463859.25)
('Port Lindsey', 1, 450954.0625)
('Port Lisa', 1, 300334.71875)
('Port Megan', 1, 264808.84375)
('Port Michael', 1, 145023.1875)
('Port Natalie', 1, 222030.015625)
('Port Phillip', 1, 147879.046875)
('Port Rebeccaview', 1, 218886.734375)
('Port Roberthaven', 1, 417762.3125)
('Port Scotttown', 1, 270828.25)
('Port Sethshire', 1, 21883.169921875)
('Port Steven', 1, 262117.5)
('Port Williamstad', 1, 400584.25)
('Priceside', 1, 475405.875)
('Rachelborough', 1, 328672.75)
('Randallfurt', 1, 114166.15625)
('Randytown', 1, 61991.5)
('Reedville', 1, 311220.09375)
('Richardview', 1, 55366.48828125)
('Robersonside', 1, 65146.73828125)
('Roberthaven', 1, 114070.25)
('Robinburgh', 1, 359156.75)
('Robinsonchester', 1, 100024.1875)
('Rodriguezberg', 1, 266003.75)
('Rodriguezfort', 1, 95611.7734375)
('Rowlandmouth', 1, 164035.4375)
('Russellbury', 2, 333264.9921875)
('Russellhaven', 1, 294368.1875)
('Russellshire', 1, 222211.0625)
('Samanthabury', 1, 345672.65625)
('Samanthafort', 1, 257706.3125)
('Samanthamouth', 1, 459052.6875)
('Samuelmouth', 1, 53197.05078125)
('Sanchezmouth', 1, 167192.8125)
('Sanchezport', 1, 56194.8984375)
('Sanchezshire', 1, 348467.90625)
('Sandyborough', 1, 465702.25)
('Saundershaven', 1, 53654.26171875)
('Scottville', 1, 169655.5625)
('Shelbybury', 1, 102430.28125)
('Shermanborough', 1, 131625.671875)
('Shermanfurt', 1, 376153.375)
('Shieldsburgh', 1, 374595.625)
('Shirleyland', 1, 381845.65625)
('Simpsonhaven', 1, 260784.5)
('Simsmouth', 1, 116862.59375)
('Singhchester', 1, 89733.796875)
('Smithmouth', 1, 453327.0)
('South Benjamin', 1, 266423.09375)
('South Charles', 1, 414121.96875)
('South Christina', 1, 282328.25)
('South Danielle', 1, 15939.400390625)
('South Elizabeth', 1, 38627.03125)
('South Ethanhaven', 1, 275255.03125)
('South Heidiport', 1, 72341.4765625)
('South Jameshaven', 1, 113683.140625)
('South Jaredton', 1, 385842.03125)
('South Jenniferberg', 1, 142224.75)
('South Johnside', 1, 75593.0703125)
('South Laura', 1, 271793.125)
('South Leah', 1, 290264.8125)
('South Lisa', 1, 53035.8203125)
('South Louismouth', 1, 454127.9375)
('South Maryshire', 1, 387713.75)
('South Maxberg', 1, 278113.15625)
('South Melissaburgh', 1, 277799.46875)
('South Ravenchester', 1, 237859.4375)
('South Robert', 1, 47210.87109375)
('South Samuel', 1, 18814.869140625)
('South Sarah', 1, 11317.51953125)
('South Stephen', 1, 395960.125)
('South Sydney', 1, 19529.16015625)
('South Tammie', 1, 364521.625)
('South Walter', 1, 92416.28125)
('South William', 1, 436082.1875)
('Staceyburgh', 1, 132637.140625)
('Stephanieville', 1, 182292.171875)
('Sullivanchester', 1, 319962.78125)
('Tanyaborough', 1, 265206.5)
('Taylorbury', 1, 228279.4375)
('Taylormouth', 1, 236067.59375)
('Teresaborough', 1, 237765.34375)
('Terrellfort', 1, 88692.296875)
('Thomasberg', 1, 254641.625)
('Thomasborough', 1, 442490.5)
('Thomasshire', 1, 221868.609375)
('Tiffanyton', 1, 346405.3125)
('Tiffanytown', 1, 395027.09375)
('Tinahaven', 1, 204251.5)
('Tracyberg', 1, 334433.34375)
('Vanessaland', 1, 334190.84375)
('Victoriahaven', 1, 300905.9375)
('Victorialand', 1, 133065.484375)
('Villanuevafurt', 1, 481746.59375)
('Virginiaburgh', 1, 267971.34375)
('Walkerchester', 1, 60067.73046875)
('Walkerfurt', 1, 255792.84375)
('Walkerport', 1, 146991.796875)
('Walkerside', 1, 80709.859375)
('Waltershire', 1, 341738.59375)
('Wareburgh', 1, 21745.990234375)
('Washingtonhaven', 1, 295482.34375)
('Watsonbury', 1, 446664.84375)
('West Adrianburgh', 1, 177997.71875)
('West Bonnie', 1, 269767.78125)
('West Chasetown', 1, 438399.6875)
('West Coryborough', 1, 234417.59375)
('West Danielport', 1, 54943.9296875)
('West David', 1, 170874.84375)
('West Donnafort', 1, 154577.6875)
('West Frederick', 1, 447116.90625)
('West Gregory', 1, 91769.8203125)
('West Jacquelinemouth', 1, 229476.046875)
('West Jessicamouth', 1, 195268.953125)
('West Jessicatown', 1, 461714.21875)
('West John', 1, 198662.953125)
('West Joshua', 1, 155197.28125)
('West Julie', 1, 246049.859375)
('West Kathrynberg', 1, 322647.65625)
('West Kendra', 1, 293824.90625)
('West Kennethburgh', 1, 128138.9609375)
('West Kevinland', 1, 357740.21875)
('West Michelleville', 1, 83536.5)
('West Morganstad', 1, 399767.09375)
('West Patriciatown', 1, 25826.7890625)
('West Paulaville', 1, 467018.0625)
('West Ronald', 1, 407686.375)
('West Ryanshire', 1, 3001.590087890625)
('West Scott', 1, 290028.53125)
('West Sean', 1, 353262.34375)
('West Sherry', 1, 76577.03125)
('West Taylor', 1, 250936.625)
('West Timothychester', 1, 148911.0625)
('West Tommouth', 1, 131564.703125)
('West William', 1, 461141.53125)
('West Zoe', 1, 307193.3125)
('Williamberg', 1, 265910.40625)
('Williamsburgh', 1, 18917.80078125)
('Williamschester', 1, 209572.875)
('Wilsonmouth', 1, 262972.75)
('Wintershaven', 1, 455365.96875)
('Woodfort', 1, 434936.5625)
('Yanghaven', 1, 163152.578125)
('Zacharychester', 1, 311439.875)

In [14]:
#Q2: Which account type (Savings, Current, Loan, etc.) holds the highest total balance?
cursor.fetchall()
selectQuery="""
SELECT    
  c.account_type,    sum(a.account_balance) FROM customers c
JOIN accounts a    ON c.customer_id = a.customer_id
    group by c.account_type  
    order by sum(a.account_balance) desc  limit 1
   """
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('Current', 59834705.12963867)

In [15]:
#Q3: Who are the top 10 customers by total account balance across all account types?
cursor.fetchall()
selectQuery="""SELECT    
  c.customer_id, c.name,
    a.account_balance
FROM customers c
JOIN accounts a
    ON c.customer_id = a.customer_id
order by a.account_balance desc
limit 10"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('C0314', 'Amy Nguyen', 498740.0)
('C0111', 'Lisa Russell', 497041.0)
('C0392', 'Amber Williams', 494780.0)
('C0077', 'Audrey Peck', 494700.0)
('C0499', 'Alvin Compton', 484758.0)
('C0338', 'Sharon Bennett DVM', 482746.0)
('C0317', 'Denise Campbell', 481747.0)
('C0220', 'Jeffrey Smith', 481568.0)
('C0146', 'Ann Crosby', 479706.0)
('C0131', 'Emily Lawrence', 479403.0)

In [16]:
#Q4: Which customers opened accounts in 2023 with a balance above ₹1,00,000?
cursor.fetchall()
selectQuery="""SELECT    
  c.customer_id,c.name,
    a.account_balance
FROM customers c
JOIN accounts a
    ON c.customer_id = a.customer_id
    where YEAR(c.join_date) = 2023 and a.account_balance>100000
    order by a.account_balance desc """
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('C0077', 'Audrey Peck', 494700.0)
('C0499', 'Alvin Compton', 484758.0)
('C0317', 'Denise Campbell', 481747.0)
('C0208', 'Mr. Jimmy Gonzales MD', 476045.0)
('C0411', 'Brendan Williams', 466808.0)
('C0386', 'Manuel Martinez', 465702.0)
('C0383', 'Sara Hunt', 463859.0)
('C0286', 'Joshua Torres', 463831.0)
('C0068', 'Lisa Gilbert', 460904.0)
('C0355', 'Rodney Anthony', 459053.0)
('C0325', 'Tiffany Conner', 457722.0)
('C0189', 'Chad Murphy', 455366.0)
('C0500', 'Emily Brooks', 454128.0)
('C0232', 'Peter Bolton', 449801.0)
('C0102', 'Crystal Mckenzie', 446110.0)
('C0327', 'David Jones', 438400.0)
('C0262', 'Janet Saunders', 434937.0)
('C0226', 'Kelly Kennedy', 430296.0)
('C0346', 'Michelle Sanchez', 414976.0)
('C0453', 'Kristen Henderson', 414405.0)
('C0450', 'Joseph Walton Jr.', 414122.0)
('C0489', 'Andrea Austin', 407686.0)
('C0448', 'Randall Martin', 403953.0)
('C0053', 'Krystal Chaney', 402963.0)
('C0478', 'Ryan Jackson', 400752.0)
('C0196', 'Jo Rich', 400584.0)
('C0149', 'Jacob Gray', 400323.0)
('C0288', 'Pamela Weaver', 399767.0)
('C0380', 'Kelly Payne', 395960.0)
('C0110', 'Mrs. Shelby Arroyo', 390940.0)
('C0087', 'Pamela Harrison', 390869.0)
('C0165', 'Shannon Adams', 388562.0)
('C0365', 'Debra West', 387845.0)
('C0406', 'Tiffany Gomez', 385756.0)
('C0078', 'Jason Scott', 384430.0)
('C0136', 'Anthony Ross', 382344.0)
('C0341', 'Bridget Skinner', 378621.0)
('C0133', 'Erica Morrison', 374537.0)
('C0198', 'Stefanie Houston', 369175.0)
('C0290', 'Leslie Mann', 362617.0)
('C0103', 'Stephanie Smith', 350927.0)
('C0065', 'Michele Murphy', 346405.0)
('C0125', 'Justin Rojas', 345673.0)
('C0305', 'Elijah Hall', 339256.0)
('C0385', 'Natasha Arroyo', 338491.0)
('C0328', 'Carl Sanchez', 337417.0)
('C0194', 'Crystal Rowe', 332406.0)
('C0313', 'Christy Phelps', 328217.0)
('C0402', 'Timothy Berry', 324125.0)
('C0180', 'Frank Ware', 314507.0)
('C0190', 'Jennifer Smith', 311440.0)
('C0367', 'John Neal', 311196.0)
('C0224', 'Dean Lowe', 306670.0)
('C0370', 'Eric Hayes', 306394.0)
('C0301', 'Christine Roberts', 302230.0)
('C0326', 'Christina Carpenter', 300906.0)
('C0079', 'Michael Ford', 297398.0)
('C0046', 'Virginia Ayala', 294020.0)
('C0273', 'Stephen Whitney', 292902.0)
('C0476', 'Daniel Butler PhD', 284739.0)
('C0239', 'Bryan Garcia', 271793.0)
('C0105', 'Anna Davis', 270828.0)
('C0442', 'Melissa Prince', 267971.0)
('C0475', 'Laura Hicks', 267754.0)
('C0259', 'Matthew Tate', 265206.0)
('C0238', 'Gloria Abbott', 260784.0)
('C0267', 'Willie Murphy', 259208.0)
('C0323', 'Rebecca Pratt', 257706.0)
('C0158', 'Andrew Reynolds', 256045.0)
('C0401', 'George Bradshaw', 254378.0)
('C0416', 'Greg Gomez', 251101.0)
('C0148', 'Lauren Jones', 245515.0)
('C0166', 'Christine Garcia', 234418.0)
('C0121', 'Tara Ellis', 228279.0)
('C0398', 'Ryan Smith', 221914.0)
('C0299', 'Seth Stevens', 218887.0)
('C0100', 'Evan Duarte', 218111.0)
('C0135', 'Tyler Buchanan', 216729.0)
('C0034', 'Vanessa Reese', 206242.0)
('C0432', 'Anthony Maldonado', 195269.0)
('C0052', 'Lori Bautista', 195239.0)
('C0204', 'Patrick Stark', 193295.0)
('C0060', 'Nicole Logan', 192239.0)
('C0444', 'Caitlyn Sanchez', 192213.0)
('C0376', 'Alex Beard', 189603.0)
('C0311', 'Jamie Johnson', 186620.0)
('C0449', 'Jasmine Cobb', 183201.0)
('C0123', 'Paul Willis', 182899.0)
('C0379', 'Joseph Ruiz', 181962.0)
('C0128', 'Erica Brooks', 174479.0)
('C0051', 'George Yates', 173261.0)
('C0378', 'Krista Foster', 171162.0)
('C0255', 'Dr. Raymond Myers', 162877.0)
('C0283', 'Katherine Hunt', 154578.0)
('C0484', 'Rodney Cruz', 150039.0)
('C0418', 'Carol Bennett', 140163.0)
('C0107', 'Julie Weeks', 134031.0)
('C0451', 'Christopher Young', 132637.0)
('C0154', 'Juan Collier', 127822.0)
('C0243', 'Jason Knox', 121238.0)
('C0468', 'Kari Jones', 120794.0)
('C0374', 'Marie Gutierrez', 120551.0)
('C0218', 'Caitlin Cook', 118509.0)
('C0310', 'Sean Camacho', 113683.0)
('C0433', 'Luke Bright', 100024.0)

In [17]:
#Q5: What is the total transaction volume (sum of amounts) by transaction type?

cursor.fetchall()
selectQuery="""select txn_type,sum(amount) from banksight.transactions 
group by txn_type"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('deposit', 197574827.52931213)
('withdrawal', 151387322.34135437)
('transfer', 50592799.70474243)
('online fraud', 23829502.21949768)
('purchase', 73834033.57324219)

In [18]:
#Q6: How many failed transactions occurred for each transaction type?
cursor.fetchall()
selectQuery="""select txn_type,count(status) from banksight.transactions 
where status='failed'
group by txn_type"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('online fraud', 489)
('deposit', 433)
('withdrawal', 314)
('purchase', 167)
('transfer', 94)

In [19]:
#Q7: What is the total number of transactions per transaction type?
cursor.fetchall()
selectQuery="""select txn_type,count(status) TransactionCount from banksight.transactions 
#where status!='failed'
group by txn_type"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('deposit', 3921)
('withdrawal', 3065)
('transfer', 1012)
('online fraud', 489)
('purchase', 1513)

In [20]:
#Q8: Which accounts have 5 or more high-value transactions above ₹20,000?
cursor.fetchall()
selectQuery="""select customer_id, count(*) from banksight.transactions where amount > 20000  
AND status = 'success'
group by customer_id HAVING COUNT(*) >= 5
order by count(*) desc"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('C0124', 27)
('C0444', 26)
('C0398', 25)
('C0379', 23)
('C0481', 23)
('C0223', 23)
('C0332', 22)
('C0496', 22)
('C0412', 22)
('C0322', 21)
('C0126', 21)
('C0053', 21)
('C0040', 21)
('C0289', 21)
('C0325', 21)
('C0466', 20)
('C0180', 20)
('C0408', 20)
('C0471', 20)
('C0206', 20)
('C0343', 20)
('C0298', 20)
('C0119', 20)
('C0318', 20)
('C0063', 20)
('C0293', 20)
('C0248', 20)
('C0360', 20)
('C0409', 20)
('C0093', 19)
('C0025', 19)
('C0101', 19)
('C0068', 19)
('C0038', 19)
('C0371', 19)
('C0353', 19)
('C0074', 19)
('C0400', 19)
('C0375', 19)
('C0287', 19)
('C0218', 19)
('C0019', 19)
('C0243', 19)
('C0461', 19)
('C0331', 19)
('C0054', 19)
('C0258', 19)
('C0363', 18)
('C0460', 18)
('C0476', 18)
('C0201', 18)
('C0290', 18)
('C0299', 18)
('C0267', 18)
('C0199', 18)
('C0183', 18)
('C0311', 18)
('C0055', 18)
('C0020', 18)
('C0167', 18)
('C0468', 18)
('C0296', 18)
('C0383', 18)
('C0312', 18)
('C0429', 18)
('C0031', 18)
('C0273', 18)
('C0110', 18)
('C0222', 18)
('C0157', 18)
('C0166', 17)
('C0497', 17)
('C0436', 17)
('C0458', 17)
('C0357', 17)
('C0263', 17)
('C0153', 17)
('C0394', 17)
('C0359', 17)
('C0127', 17)
('C0447', 17)
('C0179', 17)
('C0395', 17)
('C0388', 17)
('C0491', 17)
('C0440', 17)
('C0137', 17)
('C0216', 17)
('C0385', 17)
('C0125', 17)
('C0493', 17)
('C0176', 17)
('C0268', 17)
('C0064', 17)
('C0264', 17)
('C0300', 17)
('C0384', 17)
('C0423', 17)
('C0437', 17)
('C0443', 16)
('C0080', 16)
('C0049', 16)
('C0492', 16)
('C0168', 16)
('C0380', 16)
('C0085', 16)
('C0285', 16)
('C0274', 16)
('C0421', 16)
('C0266', 16)
('C0424', 16)
('C0232', 16)
('C0136', 16)
('C0463', 16)
('C0270', 16)
('C0070', 16)
('C0219', 16)
('C0116', 16)
('C0120', 16)
('C0321', 16)
('C0117', 16)
('C0393', 16)
('C0276', 16)
('C0411', 16)
('C0434', 16)
('C0109', 16)
('C0455', 16)
('C0338', 16)
('C0327', 16)
('C0102', 16)
('C0208', 16)
('C0081', 16)
('C0087', 16)
('C0262', 16)
('C0006', 16)
('C0256', 16)
('C0050', 16)
('C0033', 16)
('C0134', 16)
('C0278', 16)
('C0280', 16)
('C0344', 16)
('C0141', 15)
('C0131', 15)
('C0023', 15)
('C0187', 15)
('C0348', 15)
('C0279', 15)
('C0391', 15)
('C0288', 15)
('C0226', 15)
('C0220', 15)
('C0021', 15)
('C0098', 15)
('C0320', 15)
('C0307', 15)
('C0016', 15)
('C0407', 15)
('C0483', 15)
('C0155', 15)
('C0182', 15)
('C0301', 15)
('C0135', 15)
('C0295', 15)
('C0499', 15)
('C0480', 15)
('C0236', 15)
('C0195', 15)
('C0123', 15)
('C0323', 15)
('C0364', 15)
('C0277', 15)
('C0415', 15)
('C0390', 15)
('C0073', 15)
('C0071', 15)
('C0229', 15)
('C0129', 15)
('C0214', 15)
('C0406', 15)
('C0272', 15)
('C0010', 15)
('C0358', 15)
('C0215', 15)
('C0291', 15)
('C0472', 15)
('C0453', 15)
('C0420', 15)
('C0254', 15)
('C0095', 15)
('C0106', 15)
('C0128', 15)
('C0387', 14)
('C0426', 14)
('C0366', 14)
('C0240', 14)
('C0122', 14)
('C0156', 14)
('C0286', 14)
('C0043', 14)
('C0475', 14)
('C0401', 14)
('C0396', 14)
('C0148', 14)
('C0207', 14)
('C0186', 14)
('C0247', 14)
('C0013', 14)
('C0191', 14)
('C0356', 14)
('C0032', 14)
('C0190', 14)
('C0198', 14)
('C0495', 14)
('C0419', 14)
('C0382', 14)
('C0192', 14)
('C0462', 14)
('C0185', 14)
('C0316', 14)
('C0410', 14)
('C0174', 14)
('C0326', 14)
('C0035', 14)
('C0416', 14)
('C0178', 14)
('C0173', 14)
('C0329', 14)
('C0177', 14)
('C0244', 14)
('C0042', 14)
('C0194', 14)
('C0281', 14)
('C0376', 14)
('C0241', 14)
('C0225', 14)
('C0009', 14)
('C0432', 13)
('C0056', 13)
('C0062', 13)
('C0330', 13)
('C0439', 13)
('C0152', 13)
('C0189', 13)
('C0047', 13)
('C0115', 13)
('C0377', 13)
('C0418', 13)
('C0121', 13)
('C0238', 13)
('C0036', 13)
('C0342', 13)
('C0477', 13)
('C0340', 13)
('C0233', 13)
('C0362', 13)
('C0161', 13)
('C0438', 13)
('C0139', 13)
('C0414', 13)
('C0473', 13)
('C0261', 13)
('C0079', 13)
('C0069', 13)
('C0140', 13)
('C0193', 13)
('C0075', 13)
('C0066', 13)
('C0211', 13)
('C0091', 13)
('C0305', 13)
('C0405', 13)
('C0188', 13)
('C0138', 13)
('C0403', 13)
('C0474', 13)
('C0078', 13)
('C0257', 13)
('C0417', 13)
('C0469', 13)
('C0470', 13)
('C0464', 13)
('C0351', 13)
('C0001', 13)
('C0428', 13)
('C0479', 13)
('C0034', 13)
('C0237', 13)
('C0003', 13)
('C0012', 13)
('C0022', 13)
('C0425', 13)
('C0209', 13)
('C0365', 13)
('C0084', 12)
('C0067', 12)
('C0449', 12)
('C0317', 12)
('C0402', 12)
('C0111', 12)
('C0160', 12)
('C0202', 12)
('C0345', 12)
('C0099', 12)
('C0044', 12)
('C0328', 12)
('C0133', 12)
('C0060', 12)
('C0378', 12)
('C0498', 12)
('C0255', 12)
('C0488', 12)
('C0165', 12)
('C0349', 12)
('C0089', 12)
('C0397', 12)
('C0242', 12)
('C0228', 12)
('C0147', 12)
('C0077', 12)
('C0105', 12)
('C0250', 12)
('C0336', 12)
('C0249', 12)
('C0184', 12)
('C0143', 12)
('C0446', 12)
('C0282', 12)
('C0100', 12)
('C0163', 12)
('C0259', 12)
('C0175', 12)
('C0224', 12)
('C0076', 12)
('C0448', 12)
('C0253', 12)
('C0352', 12)
('C0265', 12)
('C0319', 12)
('C0181', 12)
('C0269', 12)
('C0452', 12)
('C0422', 12)
('C0370', 12)
('C0052', 12)
('C0441', 12)
('C0494', 12)
('C0369', 12)
('C0007', 12)
('C0008', 12)
('C0112', 12)
('C0231', 12)
('C0113', 12)
('C0196', 12)
('C0114', 12)
('C0058', 12)
('C0324', 12)
('C0235', 12)
('C0482', 11)
('C0014', 11)
('C0334', 11)
('C0430', 11)
('C0333', 11)
('C0456', 11)
('C0239', 11)
('C0457', 11)
('C0245', 11)
('C0200', 11)
('C0104', 11)
('C0057', 11)
('C0142', 11)
('C0217', 11)
('C0354', 11)
('C0404', 11)
('C0146', 11)
('C0145', 11)
('C0310', 11)
('C0313', 11)
('C0046', 11)
('C0490', 11)
('C0435', 11)
('C0172', 11)
('C0204', 11)
('C0103', 11)
('C0486', 11)
('C0171', 11)
('C0130', 11)
('C0150', 11)
('C0015', 11)
('C0489', 11)
('C0158', 11)
('C0442', 11)
('C0450', 11)
('C0275', 11)
('C0459', 11)
('C0284', 11)
('C0065', 11)
('C0090', 11)
('C0041', 11)
('C0485', 10)
('C0024', 10)
('C0465', 10)
('C0454', 10)
('C0092', 10)
('C0030', 10)
('C0169', 10)
('C0484', 10)
('C0045', 10)
('C0451', 10)
('C0039', 10)
('C0413', 10)
('C0061', 10)
('C0082', 10)
('C0017', 10)
('C0028', 10)
('C0083', 10)
('C0097', 10)
('C0221', 10)
('C0151', 10)
('C0271', 10)
('C0026', 10)
('C0303', 10)
('C0433', 10)
('C0355', 10)
('C0018', 10)
('C0399', 10)
('C0350', 10)
('C0227', 10)
('C0314', 10)
('C0132', 10)
('C0094', 10)
('C0478', 10)
('C0246', 10)
('C0309', 10)
('C0086', 10)
('C0361', 10)
('C0154', 10)
('C0260', 9)
('C0213', 9)
('C0337', 9)
('C0230', 9)
('C0144', 9)
('C0386', 9)
('C0306', 9)
('C0373', 9)
('C0048', 9)
('C0164', 9)
('C0283', 9)
('C0389', 9)
('C0197', 9)
('C0368', 9)
('C0107', 9)
('C0292', 9)
('C0341', 9)
('C0315', 9)
('C0212', 9)
('C0487', 9)
('C0162', 9)
('C0005', 9)
('C0302', 9)
('C0004', 9)
('C0294', 9)
('C0445', 9)
('C0251', 9)
('C0381', 9)
('C0011', 8)
('C0347', 8)
('C0203', 8)
('C0210', 8)
('C0170', 8)
('C0149', 8)
('C0346', 8)
('C0308', 8)
('C0252', 8)
('C0392', 8)
('C0335', 8)
('C0500', 8)
('C0367', 8)
('C0374', 8)
('C0118', 8)
('C0427', 8)
('C0096', 8)
('C0297', 8)
('C0234', 7)
('C0205', 7)
('C0372', 7)
('C0051', 7)
('C0467', 7)
('C0037', 7)
('C0108', 7)
('C0072', 7)
('C0027', 7)
('C0059', 7)
('C0029', 7)
('C0339', 7)
('C0002', 7)
('C0088', 7)
('C0431', 6)
('C0304', 6)
('C0159', 6)

In [21]:
#Q9: What is the average loan amount and interest rate by loan type (Personal, Auto, Home, etc.)?
cursor.fetchall()
selectQuery="""select Loan_Type, avg(Loan_Amount), round(avg(Interest_Rate),2) from banksight.loans
group by Loan_Type"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('Personal', Decimal('2461543.7478'), 10.46)
('Business', Decimal('2793968.8738'), 10.63)
('Auto', Decimal('2399260.9813'), 10.53)
('Home', Decimal('2344576.6612'), 10.87)
('Education', Decimal('2393947.7009'), 10.11)

In [22]:
#Q10: Which customers currently hold more than one active or approved loan?
cursor.fetchall()
selectQuery="""select customer_id, count(*) from banksight.loans
 where Loan_Status in ('Active','Approved')
 group by customer_id having count(*)>1"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

(1411, 3)
(1383, 3)
(1073, 2)
(1059, 2)
(1430, 2)
(1292, 3)
(1216, 2)
(1359, 2)
(1231, 4)
(1155, 2)
(1020, 2)
(1249, 3)
(1088, 3)
(1462, 2)
(1146, 2)
(1531, 2)
(1565, 2)
(1481, 2)
(1101, 2)
(1180, 3)
(1317, 2)
(1378, 2)
(1551, 2)
(1460, 2)
(1470, 3)
(1455, 3)
(1126, 2)
(1580, 2)
(1488, 3)
(1549, 2)
(1408, 2)
(1325, 3)
(1528, 2)
(1587, 2)
(1405, 2)
(1308, 2)
(1386, 2)
(1209, 2)
(1275, 2)
(1236, 2)
(1363, 2)
(1108, 2)
(1502, 3)
(1010, 4)
(1284, 2)
(1162, 2)
(1123, 2)
(1382, 3)
(1263, 2)
(1420, 2)
(1132, 2)
(1364, 2)
(1005, 2)
(1270, 2)
(1495, 2)
(1255, 2)

In [23]:
#Q11: Who are the top 5 customers with the highest outstanding (non-closed) loan amounts?
cursor.fetchall()
selectQuery="""select   customer_id, sum(Loan_Amount) from  banksight.loans  
where Loan_Status != 'Closed'
group by customer_id
order by sum(Loan_Amount) desc
limit 5"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

(1455, Decimal('15389458'))
(1383, Decimal('13279523'))
(1088, Decimal('11960853'))
(1236, Decimal('11783260'))
(1010, Decimal('11747032'))

In [24]:
#Q12: What is the average loan amount per branch?

cursor.fetchall()
selectQuery="""select Branch, count(*),avg(Loan_Amount) FROM banksight.loans
group by Branch order by Branch"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('Acosta, Murphy and Rojas Branch', 3, Decimal('1525891.0000'))
('Adams LLC Branch', 2, Decimal('4362487.0000'))
('Adams, Mitchell and Schneider Branch', 1, Decimal('899686.0000'))
('Aguirre-Bowman Branch', 1, Decimal('3045520.0000'))
('Allen-Guzman Branch', 1, Decimal('4339134.0000'))
('Allen, Martin and Mosley Branch', 1, Decimal('2486493.0000'))
('Anderson-Barnes Branch', 1, Decimal('2275202.0000'))
('Anderson-Dunn Branch', 2, Decimal('4473898.0000'))
('Andrews Ltd Branch', 1, Decimal('250573.0000'))
('Andrews-Marquez Branch', 1, Decimal('921987.0000'))
('Austin, Rogers and Ayala Branch', 2, Decimal('2451570.5000'))
('Baldwin and Sons Branch', 1, Decimal('2308172.0000'))
('Barnes PLC Branch', 1, Decimal('4051928.0000'))
('Barton PLC Branch', 2, Decimal('1514849.5000'))
('Beasley-Kirk Branch', 1, Decimal('4022163.0000'))
('Beck, Howe and Perry Branch', 1, Decimal('4667891.0000'))
('Bell PLC Branch', 1, Decimal('3777178.0000'))
('Bell, Parker and Owen Branch', 2, Decimal('3329837.5000'))
('Beltran-Nelson Branch', 1, Decimal('2722023.0000'))
('Bennett and Sons Branch', 4, Decimal('1916287.7500'))
('Berry-Cabrera Branch', 2, Decimal('2197137.0000'))
('Berry, Kelley and Hughes Branch', 1, Decimal('2095370.0000'))
('Bird, Weber and Cain Branch', 3, Decimal('3048596.6667'))
('Black Group Branch', 3, Decimal('3018829.6667'))
('Black Inc Branch', 1, Decimal('157126.0000'))
('Booth, Jones and Burke Branch', 1, Decimal('2117952.0000'))
('Bright Group Branch', 3, Decimal('3442603.6667'))
('Bright Inc Branch', 6, Decimal('2050737.1667'))
('Brooks Group Branch', 1, Decimal('569034.0000'))
('Brooks-Valencia Branch', 2, Decimal('2380081.5000'))
('Brooks, Jackson and Hicks Branch', 1, Decimal('1106326.0000'))
('Brown Group Branch', 1, Decimal('4533077.0000'))
('Brown LLC Branch', 2, Decimal('2832768.0000'))
('Brown PLC Branch', 1, Decimal('1508357.0000'))
('Brown-Roberts Branch', 2, Decimal('1802105.0000'))
('Bruce-Kidd Branch', 1, Decimal('1159912.0000'))
('Bullock-Martinez Branch', 2, Decimal('3594827.5000'))
('Burke-Barr Branch', 1, Decimal('3170674.0000'))
('Burke-Moreno Branch', 1, Decimal('4864325.0000'))
('Burns, Patterson and White Branch', 3, Decimal('1736291.3333'))
('Butler, Sullivan and Torres Branch', 1, Decimal('2421265.0000'))
('Byrd Ltd Branch', 1, Decimal('4303593.0000'))
('Camacho, Brown and Terry Branch', 2, Decimal('3682467.0000'))
('Carroll-Robinson Branch', 3, Decimal('1301142.0000'))
('Chambers-Marquez Branch', 1, Decimal('4498929.0000'))
('Chambers, Lindsey and Ramos Branch', 3, Decimal('1828653.0000'))
('Chang-Lucas Branch', 2, Decimal('2138844.0000'))
('Chapman PLC Branch', 1, Decimal('1147394.0000'))
('Chapman-Goodman Branch', 2, Decimal('3405098.0000'))
('Chavez and Sons Branch', 1, Decimal('2446861.0000'))
('Chen Ltd Branch', 1, Decimal('630144.0000'))
('Chen-Ramos Branch', 1, Decimal('3957692.0000'))
('Choi PLC Branch', 4, Decimal('977254.0000'))
('Choi, Hebert and Bush Branch', 1, Decimal('966615.0000'))
('Chung-Black Branch', 2, Decimal('4077591.5000'))
('Clark and Sons Branch', 2, Decimal('3881346.0000'))
('Clark Inc Branch', 3, Decimal('1645021.0000'))
('Clark-Smith Branch', 2, Decimal('4345222.5000'))
('Clark, Kaiser and Ray Branch', 1, Decimal('3508946.0000'))
('Coffey, Curtis and Garrison Branch', 1, Decimal('467438.0000'))
('Compton, Patterson and Sanchez Branch', 1, Decimal('2967305.0000'))
('Cook PLC Branch', 1, Decimal('817729.0000'))
('Cortez-Brown Branch', 1, Decimal('3052465.0000'))
('Crawford-Torres Branch', 3, Decimal('4677616.3333'))
('Cruz, Jones and Sweeney Branch', 5, Decimal('2580410.8000'))
('Cunningham Inc Branch', 1, Decimal('1400183.0000'))
('Cunningham, Lee and Fleming Branch', 3, Decimal('3727278.3333'))
('Daniel-Dunn Branch', 1, Decimal('1515504.0000'))
('Daniels-Arellano Branch', 1, Decimal('1025091.0000'))
('Davis-Hancock Branch', 1, Decimal('3692336.0000'))
('Davis-Long Branch', 2, Decimal('2853498.5000'))
('Delgado Ltd Branch', 2, Decimal('1955469.0000'))
('Douglas and Sons Branch', 2, Decimal('3157732.0000'))
('Duke-Keller Branch', 3, Decimal('973473.0000'))
('Duncan Group Branch', 1, Decimal('1133688.0000'))
('Edwards PLC Branch', 1, Decimal('2834386.0000'))
('Edwards, Dixon and Lopez Branch', 1, Decimal('1621956.0000'))
('Edwards, Dunlap and Fernandez Branch', 2, Decimal('3356100.0000'))
('Elliott-Dennis Branch', 2, Decimal('1962013.5000'))
('Evans Ltd Branch', 2, Decimal('2439442.0000'))
('Evans-Baker Branch', 1, Decimal('2213307.0000'))
('Evans-Mercado Branch', 1, Decimal('3083614.0000'))
('Fitzgerald, Day and Goodwin Branch', 1, Decimal('3882990.0000'))
('Fleming-Washington Branch', 1, Decimal('535911.0000'))
('Flores Ltd Branch', 1, Decimal('4394944.0000'))
('Flores PLC Branch', 2, Decimal('972732.0000'))
('Flores, French and Freeman Branch', 1, Decimal('1809197.0000'))
('Francis, Page and Morales Branch', 3, Decimal('3870983.6667'))
('Frazier and Sons Branch', 2, Decimal('1808601.0000'))
('Friedman-Martin Branch', 1, Decimal('3722182.0000'))
('Garcia Group Branch', 3, Decimal('1997583.3333'))
('Garcia Inc Branch', 3, Decimal('3319172.0000'))
('Garcia-Kane Branch', 1, Decimal('59655.0000'))
('Garcia-Watkins Branch', 2, Decimal('2792605.0000'))
('Garcia, Bradford and Thomas Branch', 2, Decimal('3446311.5000'))
('Garrett-Rubio Branch', 2, Decimal('2493205.5000'))
('Gibson LLC Branch', 1, Decimal('3856040.0000'))
('Glenn, Villa and Perry Branch', 1, Decimal('3053839.0000'))
('Gonzales-Klein Branch', 1, Decimal('2132312.0000'))
('Gonzales, Diaz and Green Branch', 1, Decimal('2256975.0000'))
('Gordon LLC Branch', 1, Decimal('3662862.0000'))
('Graham PLC Branch', 2, Decimal('3250801.5000'))
('Grant, Walters and Jordan Branch', 1, Decimal('279434.0000'))
('Gray Ltd Branch', 2, Decimal('2289485.0000'))
('Green-Keith Branch', 1, Decimal('4419925.0000'))
('Green-Noble Branch', 1, Decimal('1091538.0000'))
('Griffin, White and Miller Branch', 3, Decimal('2522100.3333'))
('Gutierrez PLC Branch', 2, Decimal('2625599.0000'))
('Gutierrez, Richards and Pace Branch', 1, Decimal('2163893.0000'))
('Hall PLC Branch', 2, Decimal('3163775.5000'))
('Hanson-Carter Branch', 1, Decimal('4608951.0000'))
('Hardin-Rodriguez Branch', 2, Decimal('2333919.0000'))
('Harris Ltd Branch', 1, Decimal('3601790.0000'))
('Harris-Marshall Branch', 2, Decimal('3433957.5000'))
('Harris, Robles and Rogers Branch', 1, Decimal('4388779.0000'))
('Hartman and Sons Branch', 1, Decimal('2051835.0000'))
('Hartman-Vargas Branch', 1, Decimal('4101076.0000'))
('Hebert Group Branch', 1, Decimal('1858495.0000'))
('Henderson Inc Branch', 2, Decimal('2962632.0000'))
('Hernandez, Stewart and Lee Branch', 1, Decimal('2666887.0000'))
('Herrera LLC Branch', 1, Decimal('3156951.0000'))
('Herrera, Rollins and Hill Branch', 1, Decimal('4168372.0000'))
('Hess-Miller Branch', 3, Decimal('1776396.0000'))
('Higgins, Michael and Harris Branch', 1, Decimal('1370742.0000'))
('Hill, Ramos and Brennan Branch', 2, Decimal('1044669.5000'))
('Ho Inc Branch', 3, Decimal('1609720.0000'))
('Hodges LLC Branch', 1, Decimal('3500102.0000'))
('Holmes, Harrell and Woods Branch', 2, Decimal('1838574.5000'))
('Holmes, Nguyen and French Branch', 4, Decimal('2271076.5000'))
('Hopkins-Johnston Branch', 3, Decimal('2500517.3333'))
('Horne, Gomez and Zavala Branch', 1, Decimal('2188170.0000'))
('Horton-Jimenez Branch', 1, Decimal('943092.0000'))
('Huff, Bryant and Thomas Branch', 1, Decimal('3307978.0000'))
('Humphrey, Mitchell and Buck Branch', 1, Decimal('505293.0000'))
('Hurley-Reynolds Branch', 1, Decimal('3541813.0000'))
('Hutchinson Group Branch', 1, Decimal('257246.0000'))
('Huynh-Jones Branch', 1, Decimal('3268792.0000'))
('Jackson, Sanders and Webb Branch', 2, Decimal('2268991.0000'))
('James Group Branch', 2, Decimal('2097034.5000'))
('James-Collier Branch', 1, Decimal('418262.0000'))
('Jarvis-Williams Branch', 1, Decimal('3258992.0000'))
('Johnson Group Branch', 5, Decimal('2926835.2000'))
('Johnson LLC Branch', 1, Decimal('4299774.0000'))
('Johnson-Hunter Branch', 1, Decimal('93465.0000'))
('Johnson-Wilson Branch', 1, Decimal('770202.0000'))
('Johnson-Wright Branch', 1, Decimal('788364.0000'))
('Johnson, Arias and Kramer Branch', 1, Decimal('4995813.0000'))
('Jones LLC Branch', 1, Decimal('4168867.0000'))
('Jones-Baker Branch', 1, Decimal('1570523.0000'))
('Jones, Wilson and Myers Branch', 2, Decimal('1459531.5000'))
('Jordan, Stokes and Mayer Branch', 1, Decimal('1074749.0000'))
('Keller PLC Branch', 2, Decimal('3323226.5000'))
('King LLC Branch', 3, Decimal('2345195.6667'))
('King, Cain and Brown Branch', 1, Decimal('3665919.0000'))
('Lee-Brown Branch', 1, Decimal('4182772.0000'))
('Lee-Reyes Branch', 1, Decimal('2938615.0000'))
('Lee, Escobar and Torres Branch', 1, Decimal('206282.0000'))
('Lewis LLC Branch', 1, Decimal('4677758.0000'))
('Lewis-Travis Branch', 1, Decimal('3544422.0000'))
('Lin Inc Branch', 1, Decimal('2481325.0000'))
('Liu, Medina and Garza Branch', 3, Decimal('2874542.6667'))
('Lopez Ltd Branch', 2, Decimal('1335488.0000'))
('Lopez, Santana and Johnson Branch', 1, Decimal('4987450.0000'))
('Lopez, Tucker and Collins Branch', 1, Decimal('3251254.0000'))
('Lozano-Wilson Branch', 2, Decimal('3486409.0000'))
('Lynch Ltd Branch', 2, Decimal('2573839.5000'))
('Lyons-Hart Branch', 1, Decimal('4324216.0000'))
('Maldonado Ltd Branch', 2, Decimal('3467774.5000'))
('Marshall-Carey Branch', 2, Decimal('2790809.0000'))
('Martin and Sons Branch', 2, Decimal('3379424.0000'))
('Martin LLC Branch', 1, Decimal('1256723.0000'))
('Martin Ltd Branch', 1, Decimal('1146945.0000'))
('Martin-Hardy Branch', 2, Decimal('1634954.5000'))
('Martin, Flores and Miller Branch', 1, Decimal('2491077.0000'))
('Martinez-Bell Branch', 3, Decimal('1096078.0000'))
('Martinez-Lee Branch', 2, Decimal('2443487.0000'))
('Mason Group Branch', 1, Decimal('3864263.0000'))
('Mason, Kelly and Marquez Branch', 1, Decimal('2703594.0000'))
('Massey-Reed Branch', 1, Decimal('674691.0000'))
('Mathews, Rodriguez and Lambert Branch', 2, Decimal('3080753.5000'))
('Matthews Group Branch', 2, Decimal('2431310.5000'))
('Mcbride, Leonard and Brown Branch', 2, Decimal('3102820.0000'))
('Mcclain Inc Branch', 1, Decimal('4606842.0000'))
('Mcgee and Sons Branch', 2, Decimal('2202215.5000'))
('Mckee-Moore Branch', 1, Decimal('484423.0000'))
('Mckinney-Ramirez Branch', 1, Decimal('208858.0000'))
('Meadows, Taylor and Butler Branch', 1, Decimal('2249369.0000'))
('Mercado-Adkins Branch', 3, Decimal('1416862.3333'))
('Merritt PLC Branch', 1, Decimal('1449041.0000'))
('Miller and Sons Branch', 3, Decimal('3161546.6667'))
('Miller Inc Branch', 2, Decimal('2140610.5000'))
('Miller-Nelson Branch', 2, Decimal('3310224.0000'))
('Miller, Baker and Owen Branch', 3, Decimal('2894505.6667'))
('Miller, Hill and Leonard Branch', 2, Decimal('1428656.0000'))
('Molina-Potts Branch', 2, Decimal('345807.5000'))
('Moore-Schaefer Branch', 2, Decimal('1267706.0000'))
('Moore-Soto Branch', 2, Decimal('2606236.5000'))
('Moore, Brown and Brown Branch', 1, Decimal('4731455.0000'))
('Morales Group Branch', 1, Decimal('1402631.0000'))
('Moreno PLC Branch', 2, Decimal('1637446.5000'))
('Morris Ltd Branch', 1, Decimal('1441861.0000'))
('Morris PLC Branch', 1, Decimal('1214277.0000'))
('Morrison, Morrison and Camacho Branch', 1, Decimal('722960.0000'))
('Morse, Foley and Johnson Branch', 3, Decimal('1971918.6667'))
('Mullen-Obrien Branch', 4, Decimal('2739106.0000'))
('Murphy-Johnston Branch', 1, Decimal('1722807.0000'))
('Murray LLC Branch', 2, Decimal('3050105.5000'))
('Myers-Hall Branch', 1, Decimal('743491.0000'))
('Nelson, Hardy and Fox Branch', 1, Decimal('4779920.0000'))
('Nelson, Randall and Thornton Branch', 2, Decimal('2446348.5000'))
('Newman-Peterson Branch', 1, Decimal('2386799.0000'))
('Nguyen Inc Branch', 1, Decimal('1563778.0000'))
('Nguyen LLC Branch', 1, Decimal('1061613.0000'))
('Nguyen, Skinner and Le Branch', 2, Decimal('2570972.5000'))
('Olsen and Sons Branch', 1, Decimal('1644942.0000'))
('Oneal-White Branch', 1, Decimal('4180736.0000'))
('Orozco PLC Branch', 3, Decimal('2895937.3333'))
('Ortiz, Peck and Meza Branch', 1, Decimal('4720090.0000'))
('Owen-Miller Branch', 1, Decimal('896382.0000'))
('Parrish, Hall and Adams Branch', 1, Decimal('2268961.0000'))
('Patterson, Deleon and Webb Branch', 1, Decimal('450214.0000'))
('Patton, Maddox and Jackson Branch', 1, Decimal('1955291.0000'))
('Pearson-Roberts Branch', 1, Decimal('2723322.0000'))
('Peck LLC Branch', 1, Decimal('2161410.0000'))
('Perez and Sons Branch', 2, Decimal('1742693.0000'))
('Perez Ltd Branch', 2, Decimal('1851046.0000'))
('Perez-Griffin Branch', 1, Decimal('2754331.0000'))
('Peters PLC Branch', 1, Decimal('2144444.0000'))
('Peters, Mercer and Floyd Branch', 2, Decimal('799579.0000'))
('Peterson-Bishop Branch', 1, Decimal('4289835.0000'))
('Peterson-Graves Branch', 2, Decimal('3147757.0000'))
('Phillips, Hamilton and Campos Branch', 2, Decimal('4134450.0000'))
('Potts, Gutierrez and Hancock Branch', 2, Decimal('1306309.5000'))
('Powell-Schwartz Branch', 2, Decimal('4074908.0000'))
('Powell, Jones and Hamilton Branch', 2, Decimal('2890632.0000'))
('Powell, Palmer and Martin Branch', 1, Decimal('1433143.0000'))
('Powers, Thomas and Webb Branch', 2, Decimal('4339966.5000'))
('Pratt, Perkins and Garcia Branch', 1, Decimal('2449196.0000'))
('Ramirez-Brown Branch', 3, Decimal('2925476.0000'))
('Ramirez-Cochran Branch', 1, Decimal('254895.0000'))
('Ramirez, Jackson and Flores Branch', 1, Decimal('3271044.0000'))
('Ramirez, Ray and Harvey Branch', 1, Decimal('3092431.0000'))
('Ramsey-Carr Branch', 2, Decimal('2598637.0000'))
('Reyes, Campbell and Walton Branch', 2, Decimal('3485014.0000'))
('Richard-Lowe Branch', 1, Decimal('3110917.0000'))
('Richards-Morgan Branch', 2, Decimal('2487429.5000'))
('Richardson and Sons Branch', 2, Decimal('1371452.0000'))
('Richardson-Morales Branch', 2, Decimal('1772692.5000'))
('Roberts-Silva Branch', 1, Decimal('457576.0000'))
('Roberts, Murphy and Lewis Branch', 1, Decimal('2072340.0000'))
('Robertson and Sons Branch', 3, Decimal('2372918.3333'))
('Robinson-Stokes Branch', 1, Decimal('2384185.0000'))
('Robinson-Sweeney Branch', 1, Decimal('4167173.0000'))
('Rodriguez LLC Branch', 1, Decimal('623954.0000'))
('Rodriguez, Cabrera and Alvarez Branch', 1, Decimal('1596554.0000'))
('Rogers Group Branch', 1, Decimal('4890404.0000'))
('Rogers-Quinn Branch', 1, Decimal('3473524.0000'))
('Rosales-Anderson Branch', 2, Decimal('4093953.5000'))
('Rose-Macias Branch', 2, Decimal('2940814.5000'))
('Ross, Hayes and Erickson Branch', 1, Decimal('3692011.0000'))
('Russell LLC Branch', 1, Decimal('3688235.0000'))
('Russell-Patel Branch', 1, Decimal('131137.0000'))
('Ryan, Williams and Bowen Branch', 2, Decimal('2885941.0000'))
('Salazar Group Branch', 1, Decimal('1042625.0000'))
('Sanchez-Montes Branch', 1, Decimal('532034.0000'))
('Sanchez, Brennan and Ortega Branch', 1, Decimal('1573402.0000'))
('Santiago and Sons Branch', 1, Decimal('1037850.0000'))
('Schroeder, Lane and Arnold Branch', 1, Decimal('3076591.0000'))
('Scott LLC Branch', 1, Decimal('3759689.0000'))
('Scott-Olson Branch', 1, Decimal('774654.0000'))
('Sellers-Cunningham Branch', 2, Decimal('1540996.0000'))
('Shepard Ltd Branch', 1, Decimal('3764212.0000'))
('Shepherd-Rodriguez Branch', 1, Decimal('2239350.0000'))
('Simmons and Sons Branch', 2, Decimal('3027042.0000'))
('Simmons-Cole Branch', 1, Decimal('453890.0000'))
('Simmons-Gardner Branch', 1, Decimal('4641173.0000'))
('Simpson-Boyle Branch', 2, Decimal('334267.0000'))
('Sloan, Williams and Adkins Branch', 2, Decimal('1634933.5000'))
('Smith and Sons Branch', 1, Decimal('2945109.0000'))
('Smith Inc Branch', 3, Decimal('2881584.3333'))
('Smith LLC Branch', 1, Decimal('3543921.0000'))
('Smith Ltd Branch', 3, Decimal('2364616.3333'))
('Smith PLC Branch', 1, Decimal('3655312.0000'))
('Smith-Jacobson Branch', 3, Decimal('2141415.0000'))
('Smith-Pineda Branch', 3, Decimal('1620063.6667'))
('Smith, Mcdonald and Johnson Branch', 2, Decimal('2153168.0000'))
('Smith, Reed and Huang Branch', 1, Decimal('1709427.0000'))
('Smith, Stewart and Howell Branch', 1, Decimal('3536487.0000'))
('Solis, Ibarra and Gamble Branch', 1, Decimal('4447579.0000'))
('Solis, Simpson and Martin Branch', 1, Decimal('2752069.0000'))
('Solomon, Williams and White Branch', 1, Decimal('3379793.0000'))
('Stafford, Oneal and Williams Branch', 2, Decimal('1796513.0000'))
('Steele-Phillips Branch', 3, Decimal('2425479.0000'))
('Steele, Marsh and Richardson Branch', 3, Decimal('2014027.6667'))
('Stevens-Braun Branch', 5, Decimal('1697564.0000'))
('Stewart-Jones Branch', 1, Decimal('721631.0000'))
('Stewart, Wilson and Dalton Branch', 2, Decimal('2296355.0000'))
('Stone-Miller Branch', 1, Decimal('1441196.0000'))
('Stout, Baker and Bowman Branch', 1, Decimal('2908494.0000'))
('Suarez, Rhodes and Bolton Branch', 1, Decimal('1461039.0000'))
('Sullivan and Sons Branch', 1, Decimal('1065483.0000'))
('Sullivan, Bradford and Becker Branch', 1, Decimal('4773699.0000'))
('Sutton-Huang Branch', 1, Decimal('3384197.0000'))
('Tapia-Flynn Branch', 2, Decimal('3688432.5000'))
('Taylor PLC Branch', 1, Decimal('3930805.0000'))
('Taylor, David and Brown Branch', 2, Decimal('4037875.5000'))
('Taylor, Hopkins and Morales Branch', 1, Decimal('1469903.0000'))
('Thomas LLC Branch', 2, Decimal('2354987.5000'))
('Thomas PLC Branch', 1, Decimal('4308246.0000'))
('Thomas-Calhoun Branch', 1, Decimal('2292636.0000'))
('Thompson PLC Branch', 3, Decimal('2361564.6667'))
('Thompson-Griffin Branch', 1, Decimal('1131724.0000'))
('Thompson, Cooper and King Branch', 1, Decimal('370924.0000'))
('Torres-Green Branch', 1, Decimal('4772150.0000'))
('Townsend-Black Branch', 2, Decimal('1341904.0000'))
('Vargas, Vang and Murphy Branch', 2, Decimal('2048308.5000'))
('Vaughn Ltd Branch', 4, Decimal('1633429.5000'))
('Vega-Valentine Branch', 2, Decimal('2752197.0000'))
('Velez LLC Branch', 1, Decimal('2015780.0000'))
('Walker-Murray Branch', 1, Decimal('4177161.0000'))
('Walters-Lee Branch', 1, Decimal('2084942.0000'))
('Wang, Mcdonald and Church Branch', 2, Decimal('353874.0000'))
('Ward and Sons Branch', 2, Decimal('2815592.5000'))
('Warner-Shelton Branch', 5, Decimal('2924808.6000'))
('Warren, Tanner and Combs Branch', 1, Decimal('3534833.0000'))
('Watson Group Branch', 2, Decimal('1878862.0000'))
('Weaver-Clarke Branch', 2, Decimal('4446052.0000'))
('Welch and Sons Branch', 2, Decimal('1076323.0000'))
('Wells-Gutierrez Branch', 1, Decimal('4248264.0000'))
('Wheeler, Henderson and Weeks Branch', 1, Decimal('4289678.0000'))
('Williams, Green and Dunlap Branch', 1, Decimal('4212454.0000'))
('Williams, Johnson and Williams Branch', 1, Decimal('3509396.0000'))
('Williams, Mcfarland and Alvarez Branch', 1, Decimal('4966720.0000'))
('Williamson-Hubbard Branch', 1, Decimal('947718.0000'))
('Wilson PLC Branch', 1, Decimal('1221304.0000'))
('Winters-Rodriguez Branch', 1, Decimal('2612381.0000'))
('Wolf-Harmon Branch', 4, Decimal('2057210.0000'))
('Wong, Turner and Gordon Branch', 4, Decimal('2681028.0000'))
('Wood-Bell Branch', 1, Decimal('1068062.0000'))
('Woods, Patterson and Owens Branch', 1, Decimal('536653.0000'))
('Woodward LLC Branch', 1, Decimal('2109362.0000'))
('Young PLC Branch', 1, Decimal('3002663.0000'))
('Zavala, Ferguson and Williams Branch', 1, Decimal('3475472.0000'))
('Zimmerman PLC Branch', 1, Decimal('4383896.0000'))

In [25]:
#Q13: How many customers exist in each age group (e.g., 18–25, 26–35, etc.)?
cursor.fetchall()
selectQuery="""select 
case 
  WHEN age BETWEEN 18 AND 25 THEN '18-25'
        WHEN age BETWEEN 26 AND 35 THEN '26-35'
        WHEN age BETWEEN 36 AND 45 THEN '36-45'
        WHEN age BETWEEN 46 AND 60 THEN '46-60'
        ELSE '60+'
END AS age_group,
COUNT(*) AS customer_count
 FROM banksight.customers 
 group by age_group"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('60+', 95)
('36-45', 101)
('46-60', 150)
('26-35', 75)
('18-25', 79)

In [27]:
 #Q14: Which issue categories have the longest average resolution time?
 
cursor.fetchall()
selectQuery="""select Issue_Category, avg(DATEDIFF(Date_Closed,Date_Opened)) AS AvgResultion from banksight.support_tickets
 group by Issue_Category
 order by AvgResultion desc"""
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('Card Not Working', Decimal('18.5000'))
('Mismatch in Account Statement', Decimal('17.9032'))
('Debit Card Delivery Delay', Decimal('17.8148'))
('UPI Payment Failed', Decimal('17.4583'))
('Account Closure Request', Decimal('17.3226'))
('Account Frozen', Decimal('17.1154'))
('Loan Foreclosure', Decimal('16.5833'))
('Cheque Bounce', Decimal('16.0000'))
('EMI Auto-debit Failed', Decimal('15.9762'))
('Online Transfer Failed', Decimal('15.4762'))
('KYC Update Required', Decimal('15.4074'))
('Interest Rate Dispute', Decimal('15.3103'))
('Account Access Issue', Decimal('14.8846'))
('Loan Payment Delay', Decimal('14.7115'))
('Unauthorized Transaction', Decimal('13.1071'))

In [30]:
#Q15: Which support agents have resolved the most critical tickets with high customer ratings (≥4)?
cursor.fetchall()
selectQuery="""SELECT Support_Agent,    COUNT(*) AS Count FROM banksight.support_tickets
WHERE Priority = 'Critical'   AND Status IN ('Closed', 'Resolved')  AND Customer_Rating >= 4
GROUP BY Support_Agent
ORDER BY Count DESC """
cursor.execute(selectQuery)
results = cursor.fetchall()

for row in results:
    print(row)

('Gabriel Mutti', 3)
('Owen Mahajan', 3)
('Chanakya Natt', 3)
('Wishi Chhabra', 2)
('Veda Samra', 2)
('Wriddhish Sarraf', 2)
('Vansha Sood', 2)
('Udyati Mody', 1)
('Ekanta Devan', 1)
('Rehaan Balakrishnan', 1)
('Harish Anne', 1)
('Aarnav Sangha', 1)
('Chaitaly Vaidya', 1)
('Ikbal Sidhu', 1)
('Ekani Oza', 1)
('Ria Ghose', 1)
('Advik Bhagat', 1)