In [ ]:
There are various databases available for which u have to use a specific connector listed below.
# mysql.connector   - (mysql) sometimes u can get this error -->caching sha2 password error-  innodb
# pymysql   (Best for mysql)
# psycopg2 - Suited for postgresql
# pyodbc- microsoft sql server
# sqlalchemy  - for creating engine

In [ ]:
# sqlite3      - in memory database
# sqlitestudio/ DB browser

In [ ]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\nehla\appdata\local\programs\python\python310\lib\site-packages (2.2.9)

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import mysql.connector  #There are various connectors available to connect with mysql database,
#You can use mysql.connector or pymysql connector
#import pymysql

In [ ]:
con= mysql.connector.connect(
    host="localhost",
    user="root",
    password="2594",
    autocommit=True
    )
print(con)


#Alternative pymysql connector
con= pymysql.connect(
    host="localhost",
    user="root",
    password="2594",
    autocommit=True
    )
print(con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002AFFF4654B0>

In [ ]:
mycursor=con.cursor()

In [ ]:
mycursor.execute("CREATE DATABASE SQLPYTHON1")

In [ ]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('awesome chocolates',)
('firstdb',)
('freshdb',)
('information_schema',)
('mv',)
('mydb',)
('mysql',)
('newdb',)
('performance_schema',)
('pestdatabase',)
('pesticide',)
('projects_hr',)
('sakila',)
('sqlpython',)
('sys',)
('tamilsql',)
('world',)
('youtubedb',)

In [ ]:
mycursor.execute("USE SQLPYTHON1")

In [ ]:
mycursor.execute("CREATE TABLE stud (sid INT,sname VARCHAR(20),mark INT)")

In [ ]:
# VARCHAR -  2000 BYTES
# VARCHAR2- 4000 BYTES

In [ ]:
mycursor.execute("show tables")
for y in mycursor:
    print(y)

('stud',)

In [ ]:
mycursor.execute("insert into stud values(1,'aaa',98),(2,'bbb',88)")

In [ ]:
mycursor.execute("Select * from stud")
for y in mycursor:
    print(y)

(1, 'aaa', 98)
(2, 'bbb', 88)
(3, 'ccc', 55)
(4, 'ddd', 99)
(5, 'gg', 66)

In [ ]:
sql="insert into stud(sid,sname,mark) values(%s,%s,%s)"
mylist=[
    (3,'ccc',55),
    (4,'ddd',99),
    (5,'gg',66),
]
mycursor.executemany(sql,mylist)

In [ ]:
import pandas pd

pd.read_csv(r"Desktop\employee.csv")

In [ ]:
print(mycursor.rowcount, "rows are inserted")

3 rows are inserted

In [ ]:
#You can also iterate the dataframe and insert it into mysql table.

import pandas as pd
import mysql.connector

# Sample DataFrame
data = {
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
}

df = pd.DataFrame(data)

# Establishing the connection
conn = mysql.connector.connect(
    host='your_host',  # e.g., 'localhost'
    user='your_username',
    password='your_password',
    database='your_database'
)

cursor = conn.cursor()

# Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS person (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT
)
"""
cursor.execute(create_table_query)
conn.commit()

# Define the insert query
insert_query = """
INSERT INTO person (id, name, age) VALUES (%s, %s, %s)
"""

# Iterate over the DataFrame and insert each row
for index, row in df.iterrows():
    cursor.execute(insert_query, (row['id'], row['name'], row['age']))

# Commit the transaction
conn.commit()